html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}
  
*{
    margin: 0px;
    box-sizing: border-box;
    
}

main, body{
    background-color: #171717;
}
main{
    padding-top: 100px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    border-bottom: white solid 0.1em;
   
}
#header .scrollHide{
    opacity: 0;
}
.menu a{
    text-decoration: none;
    color: white;
    margin-left: 50px;
    
}
.menu-style{
   font-size: larger;
   font-weight: bold;
  
   
}
header nav .menu{
    display:none;
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-right: 50px;
}
.login .menu-style-login {
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(184, 8, 8);
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    cursor:pointer
    
    
}
@media (min-width:820px) {
     header nav .menu{
        display: flex;
        margin-right: 50px;
     }
     header nav .menu-hamburguer{
        display:none;
     }
    header{
        justify-content: space-between;
       
        
    }
  
  
    .login{
        width: 300px;
        font-size: 20px;
        padding: 5px;
        cursor:pointer
    }
   
}

.logo{
width: 100px;
}

.books-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.text-books{
    margin-top: 20px;
    background-color: black;
    width: 100vw;
}
.h3-book{
    text-align: center;
}
.img-books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:20rem;
    text-align: justify;
    color: white;
}

.book-image{
    width: 70%;

}

















.cadastro{
    background-color:rgb(184, 8, 8) ;
    width: 100%;
    height: 230px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
h2, h4{
    text-align: center;
}
#h2-titulo{
    font-size: 30px;
    -webkit-transform:scale(1.7,2) ;
    margin-bottom: 10px;

}

.formulario{
    display: flex;
    justify-content:center;
    flex-flow: row;
    flex-wrap:wrap;
    align-content:space-between;
    gap:5px;
    
}
.input-cadastro{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.button-cadastro{
    
    border: 1px solid white;
    padding:10px;
    width: 200px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}




footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:600px;
    background-color: #231f20;
    
    
}
.nome-aluno{
    margin-top: 50px;
    color: white;
    font-size: 20px;
}
.imagem-contato{
    width:60%;
    filter: grayscale();
}
.contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#231f20 ;
    color: white;
    background-color: black;
    width: 100%;
    height: 150px;
    gap:20px;
    
}
.texto-rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.texto-rodape .paragrafo-rodape{
    align-items: center;
}
.school-site{
    text-decoration: none;
    color:white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: blue;
    text-align: center;
    width: 50%;
}
.paragrafo-rodape2{
    display: none;
}
@media (min-width:820px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width:100%;
        height:700px;
        background-color: #231f20;
       
        
    }
    .nome-aluno{
        margin-top: 50px;
        color: white;
        font-size: 30px;
    }
    .imagem-contato{
        width:70%;
        filter: grayscale();
    }
        
    
    .contato {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap:80px;
        
        
    }
   
    .rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
        width: 100%;
        height: 150px;
        gap:20px;
        
    }
    .texto-rodape{
        display: none;
        
        
        
    }
    .paragrafo-rodape2{
        display: flex;
        font-size: 17px;
    }
    .texto-rodape2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .texto-rodape .paragrafo-rodape{
        align-items: center;
    }
    .school-site{
        text-decoration: none;
        color:white;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        background-color: blue;
        text-align: center;
        width: 30%;
        font-size: 30px;
    }
}